.gradle
.settings
bin/
build/
.classpath
.project
target/
config/checkstyle/checkstyle.xml
config/checkstyle/checkstyle.xsl
config/codenarc/codenarc.conf
config/pmd/ruleset.xml
.idea/
*.iml
.checkstyle
.pmd
test-processes/*.properties
test-processes/*/*.properties
test-processes/*/*/*.properties
test-processes/*/*/*/*.properties
signed jar files/